@import "../container/global";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

.header-container {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.header-paper {
  height: 150px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: $offWhite;
}

.header-text {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 400%;
  color: $pinkyRed;
}