.tab-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.tab {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 10%;
  }

  to {
    margin-left: 0;
  }
}